<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeLtvDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".MsgGoodActivity"></activity>
        <activity android:name=".MsgReplyActivity"></activity>
        <activity android:name=".MsgContactActivity"></activity>
        <activity android:name=".FindCardDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".AppSettingsActivity"></activity>
        <activity android:name=".OthersInfoActivity"></activity>
        <activity android:name=".GameDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".AddActivity"></activity>
        <activity android:name=".AddNewNoteActivity"></activity>
        <activity android:name=".NameSetActivity"></activity>
        <activity android:name=".SignSetActivity"></activity>
        <activity android:name=".VisitorActivity">
        </activity>
    </application>

</manifest>
